[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-pubsub = "==2.16.0"
google-cloud-storage = "==2.8.0"
structlog = "==23.1.0"
urllib3 = "==1.26.6"

[dev-packages]
pytest = "==6.2.3"
pytest-cov = "==2.11.1"

[requires]
python_version = "3.8"
